services:
  nginx:
    image: "nginx:stable-alpine"
    ports:
      - "8000:80"
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ../laravel:/var/www/laravel
  php:
    build:
      context: php
      dockerfile: Dockerfile
    volumes:
      - ../laravel:/var/www/laravel
    depends_on:
      - nginx
  mysql:
    image: "mysql"
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    env_file:
      - .env
    depends_on:
      - php
  phpmyadmin:
    image: "phpmyadmin"
    ports:
      - "8001:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    depends_on:
      - mysql

volumes:
  db_data: